/**
 * Layout Component Styles
 * Core page structure with flex layout for sticky footer
 */

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
